.section-hey {
    width: 100%;
    height: auto;
    padding: 6vh 10vw;
    background-color: $main-color;
    color: $dark-gray;
    &__text {
        font-size: 1.4rem;
        @media (min-width: map-get($map: $breakpoints, $key: m)) {
            font-size: 1.7rem;
        }
    }
    @media (orientation: landscape) {
        padding: 10vh 15vw;
    }
    @media (min-width: map-get($map: $breakpoints, $key: l)) {
        padding: 7vh 12vw;
    }
    @media (min-width: map-get($map: $breakpoints, $key: xl)) {
        padding: 10vh 15vw;
    }
    @media (min-width: map-get($map: $breakpoints, $key: xxl)) {
        padding: 9vh 20vw;
    }
}