.button {
    border: 1.5px solid $dark-gray;
    background-color: $main-color;
    color: $dark-gray;
    font-family: map-get($map: $fonts, $key: second);
    font-size: 1.5rem;
    padding: 1vh 4vw;
    @media (min-width: map-get($map: $breakpoints, $key: m)) and (orientation: portrait){
        font-size: 1.8rem;
    }
}

.input {
    border: 1px solid $dark-gray;
    font-family: map-get($map: $fonts, $key: second);
    color: $dark-gray;
    background-color: #f7f5f2;
    &:focus {
        outline: none;
    }
}

.scroll--button {
    position: fixed;
    bottom: 4vh;
    right: 6vw;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgba($color: $dark-gray, $alpha: 0.75);
    color: $main-color;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    @media (min-width: map-get($map: $breakpoints, $key: m)) {
        height: 40px;
        width: 40px;
    }
}