// Base & utilities
@import "./utilities/reset";
@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/animations";

// Components
@import "./components/burger";
@import "./components/slogan";
@import "./components/button";

// Layout
@import "./layout/header";
@import "./layout/nav";
@import "./layout/section-hey";
@import "./layout/section-events";
@import "./layout/banner";
@import "./layout/section-restaurants";
@import "./layout/section-reservation";

html {
  font-size: 10px;
}

body {
  font-family: map-get($map: $fonts, $key: standard);
  overflow-x: hidden;
  background-color: $main-color;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}